<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
</html>
<header>
    <%- include('./partials/header'); %>
</header>
<body>
    <section class="bg-bienvenida">
        <div class="flex-container">
            <div class="flex-container-home">
                <div class="text-home shadow-1">
                    <h1>BIENVENIDOS AL CARRITO WINE MAP</h1>
                    <h3>Qué es el carrito wine map?</h3>
                    <p>Es una extencion de nuestro blog wine map. Su objetivo es tercializar el comercio de vinos de las bodegas de Salta, Argentina</p>
                </div>
                <div class="btn-bienvenida">
                    <a href="" class="btn-body mx-3 mt-3">Acerca de Nosotros</a>
                    <a href="" class="btn-body mx-3 mt-3">Ir al blog</a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-categorias">
        <div class="flex-container mb-3">
            <h2 class="categorias-title">CATEGORIAS</h2>
        </div>
        <div class="flex-container">
            <div>
                <div class="lista-categorias list-unstyled flex-container">
                    <div class="categoria mb-3">
                        <img src="/images/bg-vinos.jpg" alt="">
                        <h3 class="card-tittle shadow-1 text-center mb-5">VINOS</h3>
                        <a class="btn btn-body" href="#" title="">Más</a>
                    </div>
                    <div class="categoria mb-3">
                        <img src="/images/bg-bodega.jpg" alt="">
                        <h3 class="card-tittle shadow-1 text-center mb-5">BODEGAS</h3>
                        <a class="btn btn-body" href="#" title="">Más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-productos">
        <div class="flex-container mb-3">
            <h2 class="categorias-title shadow-1">PRODUCTOS DESTACADOS</h2>
        </div>
        <div class="carousel mx-5-carrousel">
            <div class="carousel_content">
                <button aria-label="anterior" class="carousel_prev">
                    <img src="/images/iconos/ico-previous.svg" alt="Anterior">
                </button>
                <div class="carousel_list">
                <% Outstandingproducts.forEach(product => { %>
                    <div class="carousel_element mx-3 items" id="contenedor_producto">
                        <div class="bg-white flex-container-products">
                            <img src="/images/<%- product.foto %>" alt="" id="itemFoto">
                            <h3 id="itemProducto"><%-product.producto %></h3>
                            <p>Precio: <span id="itemPrecio"><%- product.precio %></span></p>
                            <div class="flex-container-products-btn">
                                <a href="#" class="btn-body mx-3 w-30" marcador="<%- product.id %>" id="btn-compra"><img src="/images/iconos/ico-cart-shop-products.svg" alt="" class="w-24"></a>
                                <a href="/products/<%- product.id %>" class="btn-body mx-3 w-70">Ver Más</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
                </div>
                <button aria-label="siguiente" class="carousel_next">
                    <img src="/images/iconos/ico-next.svg" alt="Siguiente">
                </button>
            </div>
            <div role="tablist" class="mt-3 carousel_indicators"></div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
    <script src="../public/lib/Glider.js-master/glider.min.js"></script>
    <script src="../public/lib/Glider.js-master/carousel_glider.js"></script>
    <script src="../public/js/toggle-menu.js"></script>
    <script type="module" src="../../public/js/addCart.js"></script>
</body>
<footer>
    <%- include('./partials/footer'); %>
</footer>
</html>