<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<header>
    <%- include('./partials/header'); %>
    </section>
</header>
<body>
    <section class="bg-categorias">
        <div class="flex-container mb-3">
            <h2 class="categorias-title shadow-1">TODOS LOS PRODUCTOS</h2>
        </div>
        <div class="container-products">
            <% allProducts.forEach(product => { %>
                <div class="carousel_element m-3 w-72 items" id="contenedor_producto">
                    <div class="bg-white flex-container-products">
                        <img src="/images/<%- product.foto %>" alt="" id="itemFoto">
                        <h4 id="itemProducto"><%-product.producto %></h4>
                        <p id="itemPrecio">Precio: <span id="itemPrecio"><%- product.precio %></span></p>
                        <div class="flex-container-products-btn">
                            <a href="#" class="btn-body mx-3 w-30" id="btn-compra"><img src="/images/iconos/ico-cart-shop-products.svg" alt="" class="w-24"></a>
                            <a href="/products/<%- product.id %>" class="btn-body mx-3 w-70">Ver Más</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
    <script src="/js/toggle-menu.js"></script>
    <script type="module" src="/js/addCart.js"></script>
</body>
<footer>
    <%- include('./partials/footer'); %> 
</footer> 
</html>